<?xml version="1.0"?>
<configuration>


  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8001/RISIService/basic/0.0.1"
        binding="basicHttpBinding" bindingConfiguration="basic.0.0.1"
        contract="RISIService.IRISISqlContract" name="basic.0.0.1" />
      <endpoint address="http://localhost:8001/RISIService/ws/0.0.1"
        binding="wsHttpBinding" bindingConfiguration="ws.0.0.1" contract="RISIService.IRISISqlContract"
        name="ws.0.0.1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA/CS6VBgypTIJSllF0DFD4jybw0QgAAAAAQAAADgCAAAwggI0MIIBnQIBATANBgkqhkiG9w0BAQQFADBkMQswCQYDVQQGEwJSVTEPMA0GA1UECBMGUnVzc2lhMQ8wDQYDVQQHEwZNb3Njb3cxEjAQBgNVBAoTCU15Q29tcGFueTELMAkGA1UECxMCQ0ExEjAQBgNVBAMTCWxvY2FsaG9zdDAgFw0xMjEyMTcwNjE3NDNaGA8yMjg2MTAwMTA2MTc0M1owXzELMAkGA1UEBhMCUlUxDzANBgNVBAgTBlJ1c3NpYTESMBAGA1UEChMJTXlDb21wYW55MRcwFQYDVQQLEw5JVCBEZXBhcnRhbWVudDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDITNvbijRHwGAOnrbgugI7eOzXAzMEK1IkplaamGJEIclzDcpv+8dncfQhcZefW8XAz+kT3chnydbyq7h94ie4Gql+SlGGs4BMKfawAge0jRWYfz7goHepf0z/HrxAt4NiDbB3x+P0R/XnBelovKk3mfpO2158TWgNWnLdvFfEGwIDAQABMA0GCSqGSIb3DQEBBAUAA4GBADWqgT/ezullUWpyfQIzqlL6lJqM7wEpR1RXl50ZRm0xKoJcGKhA6B+pu589umRzDlGyLISXxGHZCu26ouk/KkPBEjneaZ01CgYB9CArAKvw4aakyltcFuNxJJ7EuXefowh1rHajjOTHM3OIgH0OoMvcKiBbTallHSvKITNY8W3e" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/RISIService/mex" binding="wsHttpBinding"
        bindingConfiguration="mex" contract="RISIService.IRISISqlContract"
        name="mex" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basic.0.0.1">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="NewBindingws">
          <security mode="None" />
        </binding>
        <binding name="ws.0.0.1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="mex">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="RISIQueryService.RISIQueryClass">
        <clear />
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="NewBindingws"
          contract="RISIQueryService.IRISIQueryContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/RISIQueryService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8733/RISIQueryService/meta"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization principalPermissionMode="None" />
          <serviceCredentials />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>